openapi: 3.1.0
info:
  version: 1.0.0
  title: Tasteorama app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: Tasteorama is a culinary API that allows users to create, edit, and view recipes. Supports registration, login, subscriptions, reviews, categories, regions, and content.
tags:
  - name: Auth
    description: Registration and login
  - name: Recipes
    description: Recipe operations
  - name: Users
    description: Users and subscriptions
  - name: Ingredients
    description: Ingredients
  - name: Categories
    description: Recipe categories

servers:
  - url: https://api.tasteorama.com/v1
    description: Production server
paths:
  /api/auth/register:
    post:
      $ref: ../src/swagger/paths/auth/register/post.yaml
  /api/auth/login:
    post:
      $ref: ../src/swagger/paths/auth/login/post.yaml
  /api/auth/refresh:
    post:
      $ref: ../src/swagger/paths/auth/refresh/post.yaml
  /api/auth/logout:
    post:
      $ref: ../src/swagger/paths/auth/logout/post.yaml

  /api/recipes:
    get:
      $ref: ../src/swagger/paths/recipes/get.yaml
    post:
      $ref: ../src/swagger/paths/recipes/post.yaml

  /api/recipes/{id}:
    get:
      $ref: ../src/swagger/paths/recipes/{id}/get.yaml

  /api/categories:
    get:
      $ref: ../src/swagger/paths/categories/get.yaml

  /api/ingredients:
    get:
      $ref: ../src/swagger/paths/ingredients/get.yaml
  /api/users/currentUser:
    get:
      $ref: ../src/swagger/paths/users/get.yaml
  /api/recipes/my:
    get:
      $ref: ../src/swagger/paths/recipes/my/get.yaml

  /api/recipes/{id}/favorite:
    post:
      $ref: ../src/swagger/paths/recipes/favorite/post.yaml
    delete:
      $ref: ../src/swagger/paths/recipes/favorite/delete.yaml
  /api/recipes/{id}/favorites:
    get:
      $ref: ../src/swagger/paths/recipes/favorites/get.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
