openapi: 3.1.0
info:
  version: 1.0.0
  title: Tasteorama app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: Tasteorama is a culinary API that allows users to create, edit, and view recipes. Supports registration, login, subscriptions, reviews, categories, regions, and content.
tags:
  - name: Auth
    description: Registration and login
  - name: Recipes
    description: Recipe operations
  - name: Users
    description: Users and subscriptions
  - name: Ingredients
    description: Ingredients
  - name: Categories
    description: Recipe categories
  - name: Areas
    description: Regions
  - name: Testimonials
    description: User reviews

servers:
  - url: https://api.tasteorama.com/v1
    description: Production server
  - url: http://localhost:3030
    description: Local development
paths:
  /auth/register:
    post:
      $ref: ../src/swagger/paths/auth/register/post.yaml
  /auth/login:
    post:
      $ref: ../src/swagger/paths/auth/login/post.yaml
  /auth/refresh:
    post:
      $ref: ../src/swagger/paths/auth/refresh/post.yaml
  /auth/logout:
    post:
      $ref: ../src/swagger/paths/auth/logout/post.yaml
      
  /recipes:
    get:
      $ref: ../src/swagger/paths/recipes/get.yaml

  /recipes/{id}:
    get:
      $ref: ../src/swagger/paths/recipes/{id}/get.yaml

  /categories:
    get:
      $ref: ../src/swagger/paths/categories/get.yaml

  /ingredients:
    get:

      $ref: ../src/swagger/paths/ingredients/get.yaml
  /api/users:
    get:
      $ref: ../src/swagger/paths/users/get.yaml

  /recipes/{id}/favorite:
    post:
      $ref: ../src/swagger/paths/recipes/favorite/post.yaml


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
